.review {
    height: 829px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--white);
    z-index: 0;
    flex: 1;
}

.line {
    width: 184px;
    height: 4px;

    border: none;
    background-color: var(--primary);

    margin-top: 101px;
}

.title {
    width: 814px;
}

.user {
    display: flex;
    justify-content: center;

    margin-top: 48px;
}

.description {
    width: 489px;
}

.comma {
    position: relative;
    top: 185px;
    right: 85px;

    transform: rotate(180deg);
}

.commaTop {
    position: relative;
    right: 17px;
}

.userName {
    position: relative;
    top: 185px;
    right: 492px;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 134px;
}

.block>img {
    width: 97px;
    height: 97px;
}

.block {
    display: flex;
    justify-content: center;

    margin-right: 30px;
}

.block_description {
    display: flex;
    flex-direction: column;

    width: 242px;
    height: max-content;
}