.review {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--white);
    z-index: 0;
    flex: 1;
}

.line {
    width: 184px;
    height: 4px;

    border: none;
    background-color: var(--primary);

    margin-top: 101px;
}

.title {
    width: 814px;
}

.user {
    display: flex;
    justify-content: center;

    margin-top: 48px;
}

.description {
    width: 489px;
}

.comma {
    display: flex;

    transform: rotate(180deg);
}

.commaTop {
    display: flex;
    margin-right: 30px;
}

.userName {
    align-self: flex-start;
    margin-top: -15px;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 134px;
}

.block>img {
    width: 97px;
    height: 97px;
}

.block {
    display: flex;
    justify-content: center;

    margin-right: 30px;
}

.block_description {
    display: flex;
    flex-direction: column;

    width: 242px;
    height: max-content;
}

@media screen and (max-width: 1490px) {
    .review {
        align-items: center;
    }

    .title {
        width: 650px;
    }

    .user {
        flex-direction: column;
        align-items: center;
    }

    .user>img {
        width: fit-content;
    }

    .commaTop {
        align-self: flex-start;
    }

    .comma {
        align-self: flex-end;
    }

    .reviews {
        flex-direction: column;

        padding-top: 0;
    }

    .block {
        padding-top: 10px;
    }
}

@media screen and (max-width: 540px) {

    .title,
    .user,
    .description {
        width: 340px;
    }

    .comma {
        position: relative;
        top: -250px;
    }

}