.wrapper_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number {
    margin-left: -62px;
}

.title {
    margin-right: 7.82px;
}

@media screen and (max-width: 740px) {
    .wrapper_logo {
        margin-left: 10x;
        justify-content: center;
    }

}