.display {
    height: 947px;

    display: flex;
    flex-direction: column;

    background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
    transform-style: inherit;
}


.title {
    padding-top: 101px;
    padding-bottom: 69px;
}

.line {
    width: 184px;
    border: none;
    background-color: var(--primary);
    height: 4px;
}

.product {
    display: flex;
    justify-content: center;
}

.levels {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: max-content;
}

.firstLevel,
.secondLevel,
.thirdLevel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 179px;
    text-align: center;
}

.item6 {
    width: 199px;
}

.secondLevel>img {
    height: 230px;
}

.bubblesBot,
.bubblesTop {
    position: relative;
}

.bubblesBot {
    top: 330px;
    transform: rotate(-55.73deg);
}

.bubblesTop {
    bottom: 270px;
    right: 120px;
}

@media screen and (max-width: 940px) {
    .title {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 740px) {

    .item,
    .bubblesBot,
    .bubblesTop {
        display: none;
    }

    .product {
        flex-direction: column;
    }

    .display {}

}