.App {}

.header {
  height: 160px;
  padding: 0 84px 0 87px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white-text);
}

.container {
  display: flex;
  align-items: center;
}