html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--text);
  background: var(--white);

  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: inherit;
}

:root {
  --primary: #00C368;
  --text: #2E3A59;
  --background-block: #F8FBFF;
  --white-text: #FFFFFF;
  --gray: #A6ABBD;
  --white: #F5F5F5;
  --line: #E7EBF0;
}